@font-face {
  font-family: 'mcharazo';
  src: url('/TalantaFonts/MR-PUDIDI-DECORATIVE-FONT/MRPUDIDI.ttf') format('truetype');
}
@font-face {
  font-family: 'marker-felt';
  src: url('/TalantaFonts/MarkerFelt/MarkerFelt.ttc') format('truetype');
}
.footer-section{
    height: fit-content;
    width: 100%;
    background-color: orange;
    padding-top: 50px;
}

.footer-section .content-footer{
    width: 90%;
    display: flex;
    flex-flow: row;
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;
}
.big-head{
    flex: 1;
    justify-content: center;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;

}

.big-head h1{
    font-size: 4rem;
    font-weight: 600;
    text-align: start;
    color: #1f202a;
    font-family: "Anton", sans-serif;
    font-style: normal;
    line-height: 4rem;
}

.big-head h1 span{
    font-size: 5rem;
    font-weight: 600;
    text-align: start;
    color: #fff;
    font-family: "marker-felt", sans-serif;
    font-style: normal;
}

.other-data{
    flex: 1;
    justify-content: center;
    height: 100%;
    display: flex;
    flex: row;
    justify-content:end;
}

.other-data ul{
    width: fit-content;
    height: fit-content;
}

.other-data ul li{
  list-style: none;
  margin: 10px 0px;
  text-align: start;
  transition: all ease 3ms;
}

.other-data ul li:hover{
    transform:translateY(-5px);
  }

  .other-data ul li:hover a{
    color: #fff;
    font-style: italic;
    font-weight: 900;
  }
  

.other-data ul li a{
  text-decoration: none;
  color: #1f202a;
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: capitalize;
  font-family: "Anton",sans-serif;
}

.other-data ul li .social{
    display: none;
    flex-flow: row;
    justify-content: start;
}

.other-data ul li .social .round_border{
border: 1px solid #1f202a;
padding: 5;
margin-right: 10px;
border-radius: 50%;
width: 40px;
height: 40px;
display: flex;
flex-flow: column;
justify-content: center;
}

.other-data ul li .social .round_border a{
margin: 0 auto;
font-size: 25px;
    }

.big-head  .social{
    display: flex;
    flex-flow: row;
    justify-content: start;
    margin-top: 10%;
}

.big-head .social .round_border{
border: 1px solid #1f202a;
padding: 5;
margin-right: 10px;
border-radius: 50%;
width: 50px;
height: 50px;
display: flex;
flex-flow: column;
justify-content: center;
}

.big-head .round_border a{
margin: 0 auto;
font-size: 30px;
color: #1f202a;
}

.big-head .round_border:hover a{
color: #fff;
}
.big-head .round_border:hover {
border: none;
background-color: #F15B27;
}

/* device less that 480px */
@media only screen and (max-width:480px) {

  .footer-section{
      height: fit-content;
      padding:30px 0px 5px 0px;
  }

  .footer-section .content-footer{
      flex-flow: column;
      height: fit-content;
      justify-content: center;
      width: 90%;
  }
  .big-head{
      width: 100%;
      justify-content: center;
      flex-flow: column nowrap;
  }

  .big-head h1{
      font-size: 2.1rem; 
      line-height: 2.5rem;
  }

  .big-head h1 span{
      font-size: 2.5rem;
  }
  .big-head  .social{
    display: none;
  }

  .other-data{
      justify-content:start;
      margin-top: 30px; 
  }

  .other-data ul{
      width: fit-content;
      height: fit-content;
  }

  .other-data ul li{
    list-style: none;
    margin: 5px 0px 0px 0px;
    text-align: start;
    transition: all ease 3ms;
  }

  .other-data ul li:hover{
      transform:translateY(0px);
    }
    
  .other-data ul li a{
    text-decoration: none;
    color: #1f202a;
    font-size: 1rem;
  }

  .other-data ul li .social{
    display: flex;
    flex-flow: row;
    justify-content: start;
    margin:20px 0px 20px 0px;

  }

  .other-data ul li .social .round_border{
  width: 30px;
  height: 30px;
  }

  .other-data ul li .social .round_border a{
  margin: 0 auto;
  font-size: 16px;
  }
  
}

/* device large than 480px */
@media only screen and (min-width:480px){
  .footer-section{
    height: fit-content;
    padding:40px 0px 40px 0px;
}

.big-head h1{
  font-size: 1.8rem;
  line-height: 2.3rem;
}

.big-head h1 span{
  font-size: 2.3rem;
}
.big-head .social .round_border{
  width: 32px;
  height: 32px;
  }
  
  .big-head .round_border a{
  font-size: 22px;
  }
  
  .other-data ul li a{
    font-size: 1.2rem;
    font-weight: 400;
  }

}

/* device large than 768px */
@media only screen and (min-width:768px){
  .footer-section{
    height: fit-content;
    padding:60px 0px 60px 0px;
}

.big-head h1{
  font-size: 2.5rem;
  line-height: 2.6rem;
}

.big-head h1 span{
  font-size: 2.6rem;
}
.big-head .social .round_border{
  width: 38px;
  height: 38px;
  }
  
  .big-head .round_border a{
  font-size: 24px;
  }
  
  .other-data ul li a{
    font-size: 1.5rem;
    font-weight: 400;
    transition: all 0.3ms ease;
  }

}

/* device large than 992px */
@media only screen and (min-width:992px){
  .footer-section{
    height: fit-content;
    padding:60px 0px 60px 0px;
}

.big-head h1{
  font-size: 3rem;
  line-height: 3rem;
}

.big-head h1 span{
  font-size: 3.5rem;
}
.big-head .social .round_border{
  padding: 5px;
  width: 40px;
  height: 40px;
  }
  
  .big-head .round_border a{
  font-size: 25px;
  }
  
  .other-data ul li a{
    font-size: 1.7rem;
    font-weight: 400;
    transition: all 0.3ms ease;
  }

}

/* device large than 1200px */
@media only screen and (min-width:1200px){
  .footer-section{
    height: fit-content;
    padding:60px 0px 60px 0px;
    }

    .big-head h1{
      font-size: 2.8rem;
      line-height: 2.8rem;
    }

    .big-head h1 span{
      font-size: 3rem;
    }
    .big-head .social .round_border{
      padding: 5;
      width: 45px;
      height: 45px;
      }
      
      .big-head .round_border a{
      font-size: 24px;
      }
      
      .other-data ul li a{
        font-size: 1.6rem;
        font-weight: 400;
        transition: all 0.3ms ease;
      }

}

